ul {
    list-style-type: none;
    padding: 0;
}


a {
    text-decoration: none;
    color: whitesmoke;
}

a:visited {
    color: inherit;
}
a:hover {
    color: #ff0000; /* Text color changes to red */
    background-color: #000000; /* Background color changes to black */
    
  }
